/*base styles*/
body{
    margin: 0;
}
#app{
    padding: 0 12px;
}
a{
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
h1, h2, h3, .btn, label, .label{
    font-family: sans-serif;
}
