html {
    font-size: 20px;
    --color-background: #f5edeb;
    --color-font: #000;
    --color-link: blue;
    --color-link-visited: purple;
    --color-font-highlight: #7c564b;
}
@media (prefers-color-scheme: dark) {
    html {
        --color-background: #302e2b;
        --color-font: #fff;
        --color-link: #cacaca;
        --color-link-visited: #dda797;
        --color-font-highlight: #a97c70;
    }
}
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-font);
    font-family: sans-serif;
}
#app {
    padding: 0 12px;
}
h1,
h2 {
    margin: 0;
}
// type-scale, major second
h1 {
    font-size: 2.02725rem;

    @media screen and (max-width: 500px) {
        font-size: 1.802rem;
    }
}
h2 {
    font-size: 1.602rem;
}

a {
    text-decoration: none;

    &:link {
        color: var(--color-link);
    }
    &:visited {
        color: var(--color-link-visited);
    }

    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;

    &:focus-visible {
        outline: #0f0 solid 2px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1500px;
}

.disclaimer {
    font-size: 0.823rem;
    text-align: center;
    padding: 0 1em 125px;
}
