body{
    margin: 0;
    background-color: #f5edeb;
    font-family: sans-serif;
}
#app{
    padding: 0 12px;
}
a{
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;

    &:focus-visible {
        outline: #0f0 solid 2px;
    }
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}