html {
    font-size: 20px;
}
body{
    margin: 0;
    background-color: #f5edeb;
    font-family: sans-serif;
}
#app{
    padding: 0 12px;
}
h1, h2 {
    margin: 0;
}
// type-scale, major second
h1 {
    font-size: 2.02725rem;

    @media screen and (max-width: 500px){
        font-size: 1.802rem;
    }
}
h2 {
    font-size: 1.602rem;
}

a{
    text-decoration: none;
    
    &:hover{
        text-decoration: underline;
    }
}
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;

    &:focus-visible {
        outline: #0f0 solid 2px;
    }
}

.container{
    margin: 0 auto;
    max-width: 1500px;
}

.disclaimer {
    font-size: 0.823rem;
    text-align: center;
    padding: 0 1em 125px;
}